.search {
  align-items: stretch;
  display: flex;
  height: 50px;
  margin: 0 auto;
  width: 45%;

  input {
    height: 100%;
    margin-right: 10px;
    width: 100%;
  }

  button {
    width: 100px;
  }
}
